!!!
%html
  %head
    %title= @title  
    %link{:href => '/css/1140.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/ie.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/homepage.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    .container
      #header.twelvecol
      #content.twelvecol= yield
      #footer.twelvecol
