#cover
  .onecol
  .fourcol.title
    LEAN LEGO GAME
  .twocol
    .learn-more
      Learn more
      %i.icon-caret-down
  .fourcol.teaser
    .short-description
      The easiest way to introduce Lean concepts to your team
    .call-for-action
      Get it now
